* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(83, 81, 81);
}

.nav-bar {
  display: flex;
  margin: 5px 10px;
  justify-content: space-between;
  border: 2px rgb(83, 81, 81) solid;
  padding: 0% 10px;
}

.nav-bar h1 {
  font-size: 26px;
  font-weight: 700;
  margin-top: 10px;
}

.nav-ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

#list,
#add-link {
  border-right: 2px rgb(83, 81, 81) solid;
  padding-right: 10px;
}

.nav-bar ul li a {
  text-decoration: none;
}

.date {
  display: flex;
  justify-content: end;
}

.books {
  text-align: center;
}

.footer-section p {
  border: 2px solid;
  padding: 25px;
  font-size: 18px;
  font-weight: 600;
}

#book-collection {
  display: flex;
  flex-direction: column;
  border: 2px rgb(83, 81, 81) solid;
  margin: 10px 10px;
  padding: 5px 0% 10px;
}

#book-collection p {
  font-weight: 700;
  float: left;
  margin: 5px 5px;
  padding-right: 10px;
}

.delete {
  float: right;
  margin: 5px;
  font-weight: 700;
}

#book-collection > div:nth-child(odd) {
  background: #cfcfcf;
}

.forms-section h2 {
  text-align: center;
  padding-top: 6%;
}

.text-input {
  display: flex;
  flex-direction: column;
}

#title,
#author {
  width: 70%;
  align-self: center;
  border: 2px rgb(83, 81, 81) solid;
  padding: 5px;
}

span {
  margin-right: 20px;
}

.addbtn {
  border: 2px rgb(83, 81, 81) solid;
  padding: 5px;
  width: 10%;
  margin-left: 75%;
}

/* Contact Section */

.contact-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% auto;
  font-size: 18px;
  line-height: 24px;
}

.contact-section h2 {
  padding-bottom: 15px;
}

/* Footer Section */
.footer-section {
  margin-top: 20%;
}

.hidden {
  display: none;
}
